{{ partial "header.html" . }}
<div id="main_home" style="width:710px;margin:0 auto;text-align:justify">
{{.Content}}
Par ailleurs, la classification utilisée dans ce site résulte de choix personnels qui ne sont pas immuables. Pour tout commentaire ou suggestion de vidéo/chaîne Youtube qui puisse participer à la richesse de ce site, vous pouvez nous contacter via l’adresse
<span style="unicode-bidi: bidi-override;direction: rtl;">moc.liamg@pamebuty</span>.
<br/>
<br/>
Bonne visite !
</div>

{{ partial "footer.html" . }}